.herodiv{
    display: flex;
    margin: auto;
    margin-top: 7%;
    background-image: url(https://cdn-m.timecamp.com/img/backgroundTop.webp);
    background-size: 	2888 × 1386 px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.herodiv2{
    height:auto;
    padding-top: 2%;
    padding-bottom: 1%;
    width:100%;
    background-color: #25CF60;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    font-family: nunito sans,sans-serif;
    text-align: center;
}
.div1>p{
    margin-top: 3%;
    font-size: 12px;
    margin-left: 25%;
}
.div1{
    height:70%; 
    width:44%;
    margin-top: 6%;
    background-color: whitesmoke;
    /* border: 2px solid red; */
    text-align:justify;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 2%;
    opacity: 95%;
}
.div1>h1{
    font-size: 44px;
    font-weight:700;
    gap:5px;
    margin-top: 2%;
    margin-right: 27%;
    margin-left: 8%;
}
.div1>div{
    margin-top: 4%;
}
.div2{
    /* height:70%; */
    width:34%;
    background-color: whitesmoke;
    /* border: 2px solid red; */
    margin-top: 19%;
    opacity: 95%;
    margin-left: 10%;
    margin-bottom: 9%;
    padding-bottom: 2%;
     border-radius: 2%;
}
.div2>.img1{
    height: 25%;
    margin-left:45%;
    width: 13%;
    margin-top: -7%;
    border-radius: 45%;
}
.div2>h4{
    font-size: 13px;
    font-weight: 500;
    margin-top: 6%;
    color: black;
    /* margin-right: 27%; */
}
.div2>p{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 10px;
    margin-right:10%;
    font-weight: 500;
    color: rgb(79, 76, 76);
}
.div2>.img2{
      height: 10%;
    margin-left:40%;
    width: 25%;
    margin-top: 8%;
    border-radius: none;
}
.herodiv2>.subpart{
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px
}
.subpart>img{
    height:42%;
    width:35%;
    margin-top: 10%;
}
.profatibility{
    height:400px;
    width:90%;
    background-color: #1b1b20;
    display: flex;
    border-radius: 25px;
    margin: auto;
    margin-top: 8%;
}
.profatibility_subpart1{
    height:100%;
    width:50%;
    color: white;
}
.profatibility_subpart1>h1{
    font-size: 49px;
    text-align: start;
    margin-left: 10%;
    margin-right: 13%;
    margin-top: 10%;
}
.profatibility_subpart2{
    height:100%;
    width:50%;
}
.profatibility_subpart2>img{
    height:100%;
    width:100%;
}
.prod_tour{
    height:420px;
    width:100%;
    background-color: #1b1b20;
    display: flex;
        margin-top: -20%;
    margin-top: -2%;
}
.prod_tour_subpart1{
    height:100%;
    width:50%;
    color: white;
}
.prod_tour_subpart1>h1{
    font-size: 44px;
    text-align: start;
    margin-left: 10%;
    /* margin-right: 13%; */
    margin-top: 6%;
}
.prod_tour_subpart1>p{
    font-size: 18px;
    text-align: start;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 6%;
}
.prod_tour_subpart2{
    height:100%;
    width:50%;
}
.prod_tour_subpart2>img{
    height:100%;
    width:100%;
    margin-top: 18%;
}
.integration{
    height:auto;
    width:100%;
    background-color: #F3F3F3;
    display: flex;
    margin: auto;
    margin-top: 8%;
    /* border:2px solid red; */
    padding-bottom: 5%;
}
.integration_subpart1{
    height:100%;
    width:54%;
    /* border:2px solid red */
}
.integration_subpart1>h1{
    font-size: 40px;
    font-weight: 500;
    text-align: start;
    margin-left: 10%;
    margin-right: 13%;
    margin-top: 5%;
}
.integration_subpart1>p{
    font-size: 20px;
    font-weight: 400;
    text-align: start;
    margin-left: 10%;
    margin-right: 13%;
    margin-top: 3%;
}
.integration_subpart1>h4{
    font-size: 17px;
    font-weight: 400;
    text-align: start;
    margin-left: 10%;
    margin-top: 6%;
    color:  #25CF60;
}
.integration_subpart2{
    height:100%;
    width:50%;
}
.integration_subpart2>img{
    height:100%;
    width:100%;
}
.pricee{
    margin-top: 8%;
}
/* ************************ */

.timecamp{
    height:400px;
    width:90%;
    background-color: #1b1b20;
    display: flex;
    border-radius: 25px;
    margin: auto;
    margin-top: 8%;
}
.timecamp_subpart1{
    height:100%;
    width:50%;
    color: white;
}
.timecamp_subpart1>h1{
    font-size: 49px;
    text-align: start;
    margin-left: 10%;
    margin-right: 13%;
    margin-top: 10%;
}
.divcamp{
       background-image: url(https://cdn-m.timecamp.com/img/backgroundTop.webp);
    background-size: 	2888 × 1386 px;
    background-size: cover;
}
/* .profatibility_subpart2{
    height:100%;
    width:50%;
} */

/* ********************************************* pricing page ************************************************* */
.pridiv2{
    height:auto;
    padding-top: 2%;
    padding-bottom: 1%;
    width:90%;
    margin: auto;
    border-top: 1px solid black;
     border-bottom: 1px solid black;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8%;
    font-family: nunito sans,sans-serif;
    text-align: center;
}
.pridiv2>.subpart1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:10px
}
.subpart1>img{
    height:45%;
    width:52%;
    margin-top: 10%;
}