#price{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 5%;
    padding-top: 4%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    /* border: 1px solid red; */
}
#third{
    display: flex;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    margin-top: -4%;
    
}

#third div{
    /* border: 1px solid black; */
    padding: 10px;
     border-radius: 30px;
    
}

#third img{
    height: 130px;
    margin-top:-80px ;
}

#launch{
    background-color: white;
}


#price_bottom {
    margin-top: 40px;
    
}
#price{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 5%;
    padding-top: 4%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    /* border: 1px solid red; */
}
#third{
    display: flex;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    margin-top: -10%;
    
}

#third div{
    /* border: 1px solid black; */
    padding: 10px;
     border-radius: 30px;
    
}

#third img{
    height: 130px;
    margin-top:-80px ;
}

#launch{
    background-color: white;
}


#price_bottom {
    margin-top: 40px;
    
}





